<h1>Welcome to the homepage of {{title}}</h1>
<br>
{{> navigation}}
<br>
<div class="maincontent">
    <p>Visitors since 01.04.2025: {{visitors}}</p>
    <p>Park is open daily between 10am-10pm</p>

    <div class="weatherbox">
        <div class="boxtitle">
            Current weather:
        </div>
        <div class="curweather">
            Current temp: {{currentTemperature}}°C
        </div>
        <div class="weatherinfo">
            Highest: {{todayHigh}}°C<br>
            Lowest: {{todayLow}}°C
        </div>
        <div class="weatherinfo">
            Wind direction:<img src="arrow.svg" style="transform:rotate({{windDir}}deg); width: 30px; height: 30px;">
        </div>
        <br style='clear: left;'>
        <div class="weatherinfo">
            Clouds: {{clouds}}%
        </div>
        <div class="weatherinfo">
            Wind speed: {{windspeed}} ({{windgusts}}) km/h
        </div>
        <br style='clear: left;'>
        <div class="weatherinfo">
            Precipitation: {{precipitation}}mm
        </div>
        <div class="weatherinfo">
            {{weathercode}}
        </div>
        <br style='clear: left;'>
    </div>
</div>
